doctype html
html
    head

    body
        form(action='/initjoin' method='post')
            p ID    
                input(type='text' name='id')
            p PW
                input(type='password' name='password')
            p Email
                input(type='text' name='email')
            p Name
                input(type='text' name='name')
            p 
                input(type='submit')
