doctype html
html
    head

    body
        form(action='/login' method='post')
            p ID    
                input(type='text' name='id')
            p PW
                input(type='password' name='password')
            p File
                input(type='file' name='avatar')
            p 
                input(type='submit')
