doctype html
html
    head

    body
        form(action='/nidlogin' method='get')
            p 
                input(type='submit' value='로그인')
        form(action='/join' method='get')
            p
                input(type='submit' value='회원가입')
